<p id="notice"><%= notice %></p>

<h1><strong><%= @cocktail.name %></strong></h1>
<h3>Ingredients:</h3>

<ul>
<% @cocktail.doses.each do |d| %>
  <li><%= d.ingredient.name %> <%= d.description %></li>
<% end %>
</ul>
<%= link_to 'Back', cocktails_path %>
